.block {
    width: 100vw;
    box-sizing: border-box;
    background: #3A294F;
    padding-left: 113px;
    padding-right: 100px;
    padding-bottom: 72px;
    position: relative;
}

.icon_wrappers {
    display: flex;
    justify-content: space-between;
}

.main_icon {
    margin: auto;
    margin-top: 15px;
}

.hide {
    display: none;
}

.close_icon {
    align-self: flex-end;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

a {
    list-style-type: none;
    text-transform: uppercase;
    color: #FEFEFE;
    font-family: "FuturaDemic", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 112px;
    padding-left: 113px;
    margin-top: 128px;
}

button {
    display: flex;
    padding: 12px 40px 8px 40px;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #FEFEFE;
    background: none;
    color: #FEFEFE;
    cursor: pointer;
    /*font-family: FuturaDemiC;*/
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    width: 368px;
    height: 48px;
    white-space: nowrap;
}
.content_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
span {
    color: #FEFEFE;
    /*font-family: FuturaBookC;*/
    font-size: 24px;
    font-weight: 400;
}

.span_block {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main_text {
    margin: 148px auto 0;
    color: #bfbfbf;
    /*font-family: FuturaDemiC;*/
    font-size: 121px;
    padding-left: 1%;
    font-weight: 600;
}

.link_section {
    margin-top: 84px;
    display: flex;
    gap: 40px;
}


.list a {
    color: #FEFEFE;
    /*font-family: FuturaDemiC;*/
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.link {
    color: #FEFEFE;
    /*font-family: FuturaDemiC;*/
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 65px;
    justify-content: flex-start;
}

@media (max-width: 414px) {
    .block {
        background: url('../../assets/Моб версия_MGT_оригинал-16.png'), lightgray 50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left;
        padding: 30px;
        height: 736px;
    }
    .span_block {
        display: none;
    }

    .content {
        margin-top: 110px;
        flex-direction: column;
        gap: 59px;
        align-items: flex-end;
        padding: 0 0px 0 0;
    }

    .content_right {
        margin-top: 18px;
    }

    .main_text {
        display: none;
    }

    .list {
        padding-right: 60px;
        gap: 18px;
    }
    .list a {
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        line-height: 99%;
    }

    .btns {
        gap: 21px;
    }
    .main_icon {
        display: flex;
        gap: 12px;
        margin: 0;
        align-items: center;

        & svg {
            width: 40px;
            height: 40px;
        }
    }

    .btn {
        width: 100%;
        padding: 7px 12px 8px;
        font-size: 13px;
        height: 27px;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    .close_icon {
        align-self: center;
    }
    .hide {
        display: flex;
        width: 140px;
        padding: 7px 12px 8px;
        font-size: 13px;
        height: 27px;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    .link_section {
        display: none;
    }

    button {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
    }

    .close_icon svg {
        width: 28px;
        height: 28px;
    }
}