.block {
    position: absolute;
    width: 900px;
    background: rgba(0,0,0, 0.3);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: #FEFEFE;
    transition: right 0.3s ease;
}

.modal_content {
    padding-top: 21px;
    padding-right: 28px;
    padding-left: 37px;
}

.close_icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.close_icon svg {
    color: #1C1C1C;
    align-self: flex-end;
}

.modal_bold_span {
    color: #1C1C1C;
    /*font-family: FuturaDemiC;*/
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.modal_span {
    color: #1C1C1C;
    /*font-family: FuturaBookC;*/
    font-size: 20px;
    font-weight: 400;
}

.modal_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    margin-top: 38px;
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #1C1C1C;
    /*font-family: FuturaBookC;*/
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px;
}

form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input {
    border-radius: 100px;
    border: 0.6px solid #8D8D8D;
    display: flex;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    align-items: flex-start;
    gap: 10px;
}

input::placeholder {
    color: #8D8D8D;
    /*font-family: FuturaBookC;*/
    font-size: 20px;
    font-weight: 400;
}

.img_wrapper {
    width: 520px;
    height: 601px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    border-radius: 100px;
    border: 1px solid #1C1C1C;
    display: flex;
    width: 335px;
    padding: 12px 16px 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1C1C1C;
    /*font-family: FuturaBookC;*/
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.hide {
    display: none;
}



.logo_icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo_icons svg {
    color: #000000;
}

.burger_icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.burger_icons span {
    color: #000;
    /*font-family: FuturaDemiC;*/
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}


@media (max-width: 414px) {
    .block {
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        align-items: normal;
        width: 100%;
        height: 736px;
        overflow: hidden;
    }
    .img_wrapper {
        display: none;
    }

    .hide {
        display: flex;
        & svg {
            height: 40px;
            width: 47px;
        }
    }
    .burger_icons {
        gap: 10px;
        & svg {
            height: 33px;
            width: 33px;
        }
    }

    .burger_icons span {
        color: #000;
        /*font-family: FuturaDemiC;*/
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .form_span {
        color: #000;
        text-align: center;
        /*font-family: FuturaBookC;*/
        font-size: 18px;
        max-width: 220px;
        margin: 0 auto;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
    }

    .btn {
        border: 1.5px solid #000000;
        font-size: 12px;
        padding: 7px 16px;
        max-width: 140px;
        width: auto;
        height: auto;
        margin-top: 18px;
        background: none;
    }

    form {
        gap: 0px;
        margin-top: 2px;
    }

    .send_btn {
        background: #000000;
        color: #FFF;
        /*font-family: FuturaMediumC;*/
        font-size: 18px;
        display: flex;
        padding: 6px 20px 9px;
        max-width: 100%;
        height: 37px;
        margin-bottom: 22px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        line-height: 99%;
        text-transform: uppercase;
    }

    .close_icon {
        display: none;
    }

    .span {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal_bold_span, .modal_span {
        color: #000;
        text-align: center;
        /*font-family: FuturaDemiC;*/
        font-size: 26px;
        white-space: nowrap;
        font-weight: 600;
        line-height: 99%;
        text-transform: uppercase;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-evenly;
        width: 100%;
    }

    .icons svg {
        color: #000000;
        height:33px ;
    }

    input {
        border-radius: 90px;
        border: 1.5px solid rgba(0, 0, 0, 0.40);
        color: rgba(0, 0, 0, 0.21);
        /*font-family: FuturaMediumC;*/
        font-size: 18px;
        font-weight: 500;
        padding: 6px 20px 9px;
        height: 27px;
    }

    input::placeholder {
        color: rgba(0, 0, 0, 0.21);
        /*font-family: FuturaMediumC;*/
        font-size: 18px;
        font-weight: 500;
        line-height: 99%;
    }


    .icons_wrapper {
        display: flex;
        margin-top: 95px;
        gap: 29px;
        align-items: center;
        justify-content: space-evenly;
    }

    .next_section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 23px;
        font-size: 18px;
        position: absolute;
        padding: 0 10px;
        /* bottom: 0; */
        left: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    }

    .modal_title {
        margin-top: 85px;
    }

    .inputs {
        gap: 22px;
        margin-top: 22px;
    }

    .next_btn {
        transform: rotate(270deg);
        color: #000000;
        /*font-family: FuturaDemiC;*/
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 0 0 130px;
        margin: 0;
        border: none;
        border-radius: 0;
        border-top: 4px solid #000000;
        width: auto;
    }


    .logo_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }

    .logo_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo_section img {
        height: 23px;
        width: auto;
    }

    .logo_text {
        color: #8D8D8D;
        text-transform: uppercase;
        font-size: 9px;
    }

    .modal_content {
        padding: 0;
    }

    .btn_wrapper {
        position: relative;
        width: 100%;
    }

    .logo_span {
        color: #000000;
        text-align: right;
        /*font-family: FuturaBookC;*/
        font-size: 8px;
        /*font-style: italic;*/
        font-weight: 400;
        text-transform: uppercase;
    }

}
